@import "~sass-rem";
@import "../../styles/colors";
@import "../../styles/breakpoints";

.menu {
  font-size: rem(26px);
  lost-column: 1/2;
  margin: rem(50px 0);

  .menu-items {
    display: block;

    .menu-item {
      lost-column: 1/3;
    }
  }
}
